<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static',filename='css/normalize.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/8a0a56b44d.js"></script>
    <title>Instantgram</title>
</head>

<body>
    <header class="navigation">

        <ul class="navigation__menu">
            <div class="navigation__logo-item">
                <li class="navigation__item navigation__item--logo">
                    <img class="navigation__logo" src="../static/logo.svg" alt="Instantgram">
                </li>

                <li class="navigation__item">
                    <a class="navigation__text" href="/">Instantgram</a></p>
                </li>

            </div>
            <li class="navigation__search">
                <p class="navigation__search--text">Search</p>
            </li>
            <nav class="navigation__icons">
                <li class="navigation__item">
                    <i class="far fa-compass fa-2x navigation__explore"></i>
                </li>
                <li class="navigation__item">
                    <i class="far fa-user fa-2x navigation__you"></i>
                </li>
            </nav>
        </ul>

    </header>
    <main class="base">
        {% for post in latest_posts %}
        <section class="photo">
            <header class="photo__header">
                <img class="photo__avatar" alt='avatar' src="{{ post['avatar_url'] }}">
                <a class="photo__author" href="/{{ post['author'] }}/">{{ post['author'] }}</a>
            </header>
            <img class="photo__img" alt="photo" src="{{ post['photo_url'] }}">
            <p class="photo__likes">Likes number: {{ post['likes'] }}</p>
            <p class="photo__description"><span class="photo__author--desc">{{ post['author'] }}</span> {{ post['description'] }}</p>
            <footer class="photo__footer">
                <p class="photo__comment">Add comment...</p>
                <p class="photo__comment--btn">Opublikuj</p>
            </footer>
        </section>
        {% endfor %}
    </main>
</body>

</html>